html, body {
    margin: 0px;
    height: 100%;
}

#desk {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
}

.area {
    text-align: center;
}

#experiments_area {
    background-color: rgb(219, 219, 219);
    width: 20%;
    height: 1500px;
}

#experiments_list {
    text-align: left;
    margin-left: 30px;
}

#graphs_area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    background-color: white;
    width: 80%;
}

.data_div {
    width: 50%;
}

.statistics_div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.statistic_title{
    margin-top: 2px;
}

.graph_div {
    width: 100%;
    height: 300px;
}