html, body {
    margin: 0px;
    height: 100%;
}

#desk {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
}

.area {
    text-align: center;
    height: 100%;
}

#experiments_area {
    background-color: rgb(219, 219, 219);
    width: 20%;
}

#graphs_area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    width: 80%;
}

.graph {
    max-width: 50%;
    max-height: 50%;
}