#graphs_area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    background-color: white;
    width: 100%;
    margin-left: var(--exp-area-width);
}

.data_div {
    box-sizing: border-box;
    width: 50%;
}

    .graph_div {
        height: 300px;
        padding-left: var(--graph-div-side-padding);
        padding-right: var(--graph-div-side-padding);
    }

    .statistics_and_options_div {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding-left: calc(var(--graph-div-side-padding) * 2);
        padding-right: calc(var(--graph-div-side-padding) * 2);
        padding-bottom: var(--graph-div-side-padding);
    }

        .statistics_table {
            width: 70%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
        }

            .statistic_row {
                padding-top: 4px;
                padding-bottom: 4px;
            }

            .runs_names_column {
                text-align: left;
                width: 200px;
            }

                .runs_names_title {
                    padding-left: 12px;
                }

                .statistic_run_name {
                    padding-left: 12px;
                }

            .statistics_columns_container {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                text-align: right; 
            }

                .statistic_title {
                    padding-right: 12px;
                }

                .statistic_value {
                    padding-right: 12px;
                }

        .zoom_options_div {
            width: 30%;
        }

            .zoom_options_buttons {
                width: 32px;
                height: 32px;
                position: relative;
                border: none;
                margin: 4px;
                padding: 4px;
                background: #A1B0C6;
                border-radius: 0px;
                transition: background .3s;
            }
                            
            .zoom_options_buttons:active {
                top: .08em;
            }

@media screen and (max-width: 650px) {

    .data_div {
        width: 100%;
    }

    #graphs_area {
        margin-left: 0px;
    }

}