#graphs_area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    background-color: white;
    width: 100%;
    margin-left: var(--exp-area-width);
}

.data_div {
    box-sizing: border-box;
    width: 50%;
}

.derivatives_buttons {
    width: 73px;
}

.statistics_div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: var(--data-div-padding);
}

.statistic_run_names {
    text-align: left;
    min-width: 200px;
}

.statistics_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.statistic_value {
    font-weight: bold;
    text-align: right;
}

.graph_div {
    height: 300px;
    padding: var(--data-div-padding);
}

@media screen and (max-width: 650px) {

    .data_div {
        width: 100%;
    }

    #graphs_area {
        margin-left: 0px;
    }
}