#experiments_area {
    width: var(--exp-area-width);
    background-color: rgb(219, 219, 219);
    position: fixed; /* Stay in place */
    height: 100%;
    overflow: auto;
}

#experiments_list {
    text-align: left;
    margin: 30px;
}

#close_menu_button {
    display: none;
}

@media screen and (max-width: 650px) {

    #experiments_area {
        width: 0px;  /* change this with JavaScript */
        top: 0; /* Stay at the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        padding: 0px;   /* start with 0 padding in order to be invisible */
    }

    #close_menu_button {
        display: block;
    }

}