#experiments_area {
    width: var(--exp-area-width);
    background-color: #A1B0C6;
    position: fixed; /* Stay in place */
    height: 100%;
    overflow: auto;
    border-right: 4.5px solid #131514;
    box-sizing: border-box; /* include borders in the element's width and height */
}

    #close_menu_button {
        display: none;
    }

    #logo_and_info_div {
        background-color: #F5F7FF;
        border-bottom: var(--standard-black-border) solid #131514;
        box-sizing: border-box;
        display: flex;              /* display, flex-direction and justify-content properties to vertically center the content */
        flex-direction: column;
        justify-content: center;
        height: 160px;
        position: absolute;
        top: 0;
        width: 100%;
    }

        #logo_div {
            height: 50px;    /* to adjust the size of the logo */
        }

            #logo_img {
                height: 100%;
            }

        a {
            color: #131514;
            font-weight: bold;
            text-decoration: none;
        }

    #experiments_div {
        border-top: var(--standard-black-border) solid #131514;
        border-bottom: var(--standard-black-border) solid #131514;
        box-sizing: border-box;
        position: absolute;
        top: 160px;
        bottom: 160px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        overflow-y: scroll; /* Enable vertical scrolling */
    }

        #experiments_list {
            text-align: left;
        }

            .exp_list_run_divs {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: var(--colored-div-vertical-padding);
                padding-bottom: var(--colored-div-vertical-padding);
                padding-left: var(--colored-div-left-padding);
            }

                .experiment_li_spans {
                    width: 70%;
                    overflow-x: scroll;
                }

                .hideshow_del_button_div {
                    display: flex;      /* ChatGPT */
                }

                    .hideshow_del_buttons {
                        padding: 0px;
                        border: 0px;
                        background-color: transparent;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                    }

                        .hideshow_del_icons {
                            height: 20px;
                            width: 20px;
                        }

                    .del_buttons {
                        margin-left: 10px;    /* Add some spacing between the buttons */
                        margin-right: 10px;
                    }

    #data_buttons_div {
        border-top: var(--standard-black-border) solid #131514;
        box-sizing: border-box;
        height: 160px;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .data_buttons {
            width: 128px;
            height: 32px;
            margin: 1% 0;
            font-weight: 600;
            font-size: 14px;
            box-shadow: none;
            position: relative;
            transition: background .3s;
            cursor: pointer;
        }

        .data_buttons:active {
            top: .08em;
        }

            .data_button_spans {
                vertical-align: middle;
            }

            .data_icons {
                height: 20px;
                width: 20px;
                vertical-align: middle;
            }

            #clear_button {                
                border: 1px solid #F5F7FF;
                background-color: transparent;
            }

            .export_load_buttons {
                border: none;
                background-color: #8ED2B6;         
            }

@media screen and (max-width: 650px) {

    #experiments_area {
        width: 0px;  /* change this with JavaScript */
        top: 0; /* Stay at the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        padding: 0px;   /* start with 0 padding in order to be invisible */
    }

    #close_menu_button {
        display: inline;
        margin-top: 10px;
        padding-top: 3px;
    }

}