body {
    margin: 0px;
}

#menu_bar {
    text-align:center;
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    margin: 0px;
    width: 100%; /* Full width */
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.15); /* https://www.cssmatic.com/box-shadow */
    display: none;
}

#menu_button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#desk {
    display: flex;
}

.area {
    text-align: center;
    width: 100%;
    padding: 8px;
}

.text_wall {
    text-align:justify;
    padding-left: 300px;
    padding-right: 300px;
}

@media screen and (max-width: 650px) {

    .text_wall {
        padding-left: 3px;
        padding-right: 3px;
    }

    #menu_bar {
        width: 0px;
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        display: block;
    }

    #desk {
        margin: 8px;
        margin-top: 47px;
    }

}